  .musicelement{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.song_picture{
    width:100px;
    height: 100px;
    border-radius: 35px;
    border: 1px solid #fff;
    place-items: center;
    display:grid;
    margin-top:10px;
    margin-bottom:20px;
}
.progress{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.time{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.progress_bar{
    width: 100%;
    height: 7px;
    background-color:rgb(31, 212, 212);
    margin-top: 5px;
    position: relative;
}
.progress_line{
    width: 40%;
    height: 7px;
    background-color:rgb(212, 31, 31);
    position: absolute;  
    left:0;
}

.musiclist{
    width: 100%;
    margin-top: 20px;
    height: 100px;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}
.ul_music{
    list-style: none;
    position:relative;
    width: 100;
    
}

.ul_music li{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    transition-duration: 200ms;
    position:relative;
    padding: 6px;
    
}
.ul_music li:hover{
    background-color: rgb(30, 249, 249);
    cursor:pointer;
}
.song_name_list{
    display: flex;
    align-items: center;
    
}

.ul_music li img{
    width: 50px;
    padding-right: 5px;
}

::-webkit-scrollbar{
    width: 0;
}